<div id="feature-{{ feature.id }}" class="feature offcanvas offcanvas-start position-absolute"
     data-bs-scroll="true" data-bs-backdrop="false"
     tabindex="-1" aria-labelledby="feature-{{ feature.id }}-label">
    <div class="offcanvas-header">
        <div class="row w-100" id="feature-{{ feature.id }}-label">
            <div class="col-sm">
                {% for item in feature.english_names.all %}
                    {% include "garden/ui/name_formatted.html" with item=item with_audio=True is_bold=True only %}
                {% endfor %}
                {% for item in feature.western_scientific_names.all %}
                    {% include "garden/ui/name_formatted.html" with item=item with_audio=True is_muted=True only %}
                {% endfor %}
            </div>
            <div class="col first-nations-unicode">
                {% for item in feature.halkomelem_names.all %}
                    {% include "garden/ui/name_formatted.html" with item=item with_audio=True only %}
                {% endfor %}
            </div>
            <div class="col first-nations-unicode">
                {% for item in feature.squamish_names.all %}
                    {% include "garden/ui/name_formatted.html" with item=item with_audio=True only %}
                {% endfor %}
            </div>
        </div>
        <button type="button" class="btn-close mb-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row row-cols-4 g-2">
            {% for image in feature.images.all %}
                <div class="col feature-gallery-image p-0 m-0"
                     data-bs-toggle="tooltip" data-bs-html="true"
                     title="{{ image.description }}"
                     data-bs-target="#feature-{{ feature.id }}-carousel" data-bs-slide-to="{{ forloop.counter0 }}">
                    <button type="button" class="btn p-0 m-0 position-relative w-100 h-100 text-primary"
                            data-bs-toggle="modal" data-bs-target="#feature-{{ feature.id }}-gallery">
                        <img src="{{ image.thumbnail.url }}" class="object-fit-cover"
                                loading="lazy" fetchpriority="low"
                                alt="{{ image.description|striptags }}" />
                        <div class="position-absolute top-0 bottom-0 start-0 end-0 overlay"></div>
                        <i class="bi bi-search position-absolute top-50 start-50 translate-middle"></i>
                    </button>
                </div>
            {% endfor %}
        </div>
        <h2 class="my-3">
            {% if feature.feature_type == feature.FeatureTypes.PLANT %}
                Plant Storytelling
            {% else %}
                Storytelling
            {% endif %}
        </h2>
        <div class="clearfix my-3">
            {% if feature.video %}
                <video src="{{ feature.video.url }}" controls class="w-100 m-0 object-fit-contain" preload="metadata">
                    {% if feature.captions %}
                        <track src="{{ feature.captions.url }}" label="English captions"
                            kind="captions" srclang="en" default>
                    {% endif %}
                </video>
            {% endif %}

            {{ feature.content|safe }}
        </div>
        {% if can_edit %}
            <hr />
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="/admin/garden/feature/{{ feature.id }}/change/" class="btn btn-primary ms-auto"><i class="bi bi-pencil-square" aria-hidden="true"></i> Edit feature</a>
                <a href="#" class="btn btn-primary edit-point-btn"><i class="bi bi-pencil-square" aria-hidden="true"></i> Edit point</a>
            </div>
        {% endif %}
    </div>
</div>
<div id="feature-{{ feature.id }}-gallery" class="modal fade feature-gallery" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body p-0">
                <button type="button" class="btn-close bg-white position-fixed top-0 end-0 m-3 p-2" data-bs-dismiss="modal" aria-label="Close"></button>
                <div id="feature-{{ feature.id }}-carousel" class="carousel slide h-100" data-bs-ride="false">
                    <div class="carousel-inner h-100">
                        {% for image in feature.images.all %}
                            <div class="carousel-item text-center h-100 {{ forloop.first|yesno:'active,' }}">
                                <img src="{{ image.image.url }}" class="img-fluid h-100 object-fit-contain"
                                        loading="lazy" fetchpriority="low"
                                        alt="{{ image.description|striptags }}"
                                        title="{{ image.description|striptags }}" />
                                <div class="carousel-caption">
                                    <h5 class="d-inline-block px-3 py-2">
                                        {{ forloop.counter }} of {{ feature.images.all|length }}
                                        {% if image.license %}
                                            <i class="bi bi-info-circle"
                                                data-bs-toggle="tooltip" data-bs-html="true"
                                                title="{{ image.license }}"></i>
                                        {% endif %}
                                    </h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if feature.images.all|length > 1 %}
                        <div class="carousel-indicators">
                            {% for image in feature.images.all %}
                                <button type="button" class="{{ forloop.first|yesno:'active,' }}" data-bs-target="#feature-{{ feature.id }}-carousel" data-bs-slide-to="{{ forloop.counter0 }}"></button>
                            {% endfor %}
                        </div>
                        <button type="button" class="carousel-control-prev" data-bs-target="#feature-{{ feature.id }}-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button type="button" class="carousel-control-next" data-bs-target="#feature-{{ feature.id }}-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>