{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}{% if form.email.errors %}{% translate "Error:" %} {% endif %}{{ block.super }}{% endblock %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block breadcrumbs %}
    <div class="px-12">
        <div class="container mb-12 mx-auto -my-3">
            <ul class="flex">
                {% url 'admin:index' as link %}
                {% trans 'Home' as name %}
                {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=name %}

                {% translate 'Password reset' as breadcrumb_name %}
                {% include 'unfold/helpers/breadcrumb_item.html' with link='' name=breadcrumb_name %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="content-main">
    <p class="mb-3">{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

    <form{% if form_url %} action="{{ form_url }}"{% endif %} method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
        <div>
            <fieldset class="module">
                <div class="aligned border border-gray-200 mb-8 rounded-md p-3 shadow-sm dark:border-gray-800">

                    {% include "unfold/helpers/messages/errornote.html" with errors=form.errors %}

                    {% include "unfold/helpers/field.html" with field=form.email %}

                    <button type="submit" class="bg-primary-600 border border-transparent font-medium px-3 py-2 rounded-md text-sm text-white">
                        {% translate 'Reset my password' %}
                    </button>
                </div>
            </fieldset>
        </div>
    </form>
</div>
{% endblock %}