// first nations unicode
@import "./first_nations_unicode/font.css";

html,
body {
  font-size: 18px;
}

:root {
  --bs-font-sans-serif: Arial, Helvetica, sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-font-monospace: Arial, Helvetica, sans-serif;
}

// #garden-app {
//   height: 100%;


//   ul > li {
//     list-style-type: none;
//   }
// }

.modal-backdrop {
  // --bs-modal-zindex = 1055 (so go a little less
  --bs-backdrop-zindex: 1050 !important;
  --bs-backdrop-bg: black !important;
  --bs-backdrop-opacity: 0.75 !important;
}

.tooltip {
  z-index: 9001;
}

.first-nations-unicode {
  font-family: "First Nations Unicode" !important;
}
.first-nations-unicode .text-muted {
  font-family: var(--bs-body-font-family);
}