// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "node_modules/bootstrap/scss/functions";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";

// 5. Include remainder of required parts
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "node_modules/bootstrap/scss/_modal.scss";
@import "node_modules/bootstrap/scss/_close.scss";
@import "node_modules/bootstrap/scss/_tooltip.scss";

// vidstack
@import "vidstack/player/styles/default/theme.css";
@import "vidstack/player/styles/default/layouts/audio.css";
@import "vidstack/player/styles/default/layouts/video.css";

// pannellum
@import "./pannellum/pannellum.css";

// fontawesome & bootstrap icons
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "@fortawesome/fontawesome-free/css/solid.min.css";

// first nations unicode
@import "./first_nations_unicode/font.css";

#garden-app {
  height: 100%;

  // bootstrap reboot body
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  ul > li {
    list-style-type: none;
  }
}

:root {
  --bs-font-sans-serif: Arial, Helvetica, sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-font-monospace: Arial, Helvetica, sans-serif;
}

.first-nations-unicode {
  font-family: "First Nations Unicode" !important;
}
.first-nations-unicode .text-muted {
  font-family: var(--bs-body-font-family);
}

.modal-backdrop {
  --bs-backdrop-zindex: 1090;
  --bs-backdrop-bg: black;
  --bs-backdrop-opacity: 0.75;
}

.tooltip {
  z-index: 9001;
}