{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'fonts/first_nations_unicode/font.css' %}" />
    <style>
        :root {
            --bs-font-sans-serif: "First Nations Unicode", "BC Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            --bs-body-font-family: var(--bs-font-sans-serif);
            --bs-font-monospace: "First Nations Unicode", "BC Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        }
    </style>
{% endblock %}