{% extends "admin/change_form.html" %}

{% block after_field_sets %}
    {{ block.super }}
    {% if is_map %}
        <div class="row align-items-stretch">
            <div class="col py-4 pe-4 bg-body-tertiary d-none d-sm-block"></div>
            <div class="col-xs-12 col-sm-8 col-lg-8 col-xl-9 py-4 px-4">
                {% include "garden/map.html" %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js_footer %}
    {{ block.super }}
    <style>
        input[type="checkbox"].form-control {
            -webkit-appearance: checkbox !important;
            -moz-appearance: checkbox !important;
            appearance: checkbox !important;
            display: inherit !important;
            width: inherit !important;
        }
    </style>
{% endblock %}