.garden_projection_wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}
.garden_projection {
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: grab;
}

.ol-control button {
    font-size: 1.5em;
    pointer-events: auto;
}

.ol-button i {
    color: inherit;
}

.ol-compass .rotation-correction {
    transform: rotate(345deg);
    display: block;
}
.ol-compass .fa-n {
    font-size: 0.4em;
}

.panorama-control  {
    z-index: 100 !important;
    pointer-events: auto;
}

.select-theme-control {
    left: .5em;
    top: 5em;
    z-index: 2;
}

.show-features-control {
    left: .5em;
    top: 7.5em;
    z-index: 2;
}

.select-map-control {
    left: .5em;
    top: 10em;
    z-index: 2;
}

.hot-spot-wrapper {
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.hot-spot-wrapper .number-label {
    color: black;
    font-size: 0.7em;
    z-index: 1001;
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(50% - 0.35em);
    text-align: center;
}

[data-bs-theme=dark] .hot-spot-wrapper .number-label {
    color: white;
}

.hot-spot-wrapper i {
    font-size: 1.6em;
    z-index: 1000;
}

.view-hotspot .hot-spot-wrapper i,
.edit-hotspot .hot-spot-wrapper i {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

[data-bs-theme=dark] .view-hotspot .hot-spot-wrapper i,
[data-bs-theme=dark] .edit-hotspot .hot-spot-wrapper i {
    -webkit-text-stroke-color: white;
}

.view-hotspot .hot-spot-wrapper.hover i  {
    --bs-border-opacity: 1;
    -webkit-text-stroke-color: rgba(var(--bs-primary-rgb),var(--bs-border-opacity)) !important;
}

.edit-hotspot .hot-spot-wrapper {
    cursor: pointer;
    color: red;
}

.edit-hotspot .hot-spot-wrapper:hover::after {
    content: "\F287";
    font-family: bootstrap-icons !important;
    font-size: 0.6em;
    position: absolute;
    bottom: -0.3em;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(0, 153, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

[data-bs-theme=dark] .edit-hotspot .hot-spot-wrapper i {
    -webkit-text-stroke-color: white;
}

.offcanvas {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity)) !important;
}

.offcanvas .offcanvas-header {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-secondary-bg-rgb),var(--bs-bg-opacity)) !important;
}

.offcanvas.features {
    z-index: calc(var(--bs-offcanvas-zindex) + 11);
}

.offcanvas.feature {
    z-index: calc(var(--bs-offcanvas-zindex) + 21);
}

/* off canvas */
@media (min-width: 992px) {
    .offcanvas.feature {
        width: 50vmax;
    }
}
@media (max-width: 991.98px) {
    .offcanvas.feature {
        width: 100vmax;
    }
}
@media (max-width: 575.98px) {
    .offcanvas.features {
        width: 100vmax;
    }
}

.card-body {
    background-color: var(--bs-card-cap-bg);
}

.feature-card-hover:hover {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-primary-rgb),var(--bs-border-opacity)) !important;
}

.feature-card-hover img {
    max-height: 200px;
}

/* feature image gallery */
.feature-gallery-image .btn {
    overflow: hidden;
}

.feature-gallery-image img {
    max-height: 110px;
    width: 100%;
    transition: all 0.6s;
}
.feature-gallery-image:hover img {
    transform: scale(1.15);
}

.feature-gallery-image i {
    visibility: hidden;
    font-size: 1em;
    transition: all .6s;
}
.feature-gallery-image:hover i {
    visibility: visible;
    font-size: 1.5em;
}

.feature-gallery-image .overlay {
    background-color: rgba(var(--bs-body-bg-rgb), 0.5);
}

.feature-gallery-image .overlay{
    display: none;
}
.feature-gallery-image:hover .overlay {
    display: inline-block !important;
    font-size: 1.5em;
}

.modal {
    --bs-modal-zindex: 1100;
    --bs-modal-bg: transparent;
}

.modal-backdrop {
    --bs-backdrop-zindex: 1090;
    --bs-backdrop-bg: black;
    --bs-backdrop-opacity: 0.75;
}

.feature-gallery .btn-close {
    --bs-btn-close-opacity: 1;
    z-index: calc(var(--bs-modal-zindex) + 5);
}

.feature-gallery .carousel-item img {
    height: 100vmin;
}

.feature-gallery .carousel-caption h5 {
    background-color: rgba(0,0,0,0.25);
}

.feature-gallery .carousel-control-next-icon,
.feature-gallery .carousel-control-prev-icon {
    background-color: rgba(255,255,255,0.5);
    height: 4rem;
    width: 4rem;
}

/* override color theme mode for carousel (looks a lot better in light for both modes */
[data-bs-theme="dark"] .carousel .carousel-caption,
[data-bs-theme="dark"].carousel .carousel-caption {
    color: #fff !important;
}

[data-bs-theme="dark"] .carousel .carousel-indicators [data-bs-target],
[data-bs-theme="dark"].carousel .carousel-indicators [data-bs-target] {
    background-color: #fff !important;
}

[data-bs-theme="dark"] .carousel .carousel-control-next-icon,
[data-bs-theme="dark"] .carousel .carousel-control-prev-icon,
[data-bs-theme="dark"].carousel .carousel-control-next-icon,
[data-bs-theme="dark"].carousel .carousel-control-prev-icon {
    filter: none;
}

.tooltip {
    --bs-tooltip-zindex: 1200;
}

/* audio players  */
.name-audio-player {
    cursor: pointer;
}

/* theme buttons */
.toggle-theme-btn.light-theme-btn,
[data-bs-theme=dark] .toggle-theme-btn.dark-theme-btn {
    display: block;
}
.toggle-theme-btn.dark-theme-btn,
[data-bs-theme=dark] .toggle-theme-btn.light-theme-btn {
    display: none;
}

/* bootstrap :root */
:root {
    --bs-font-sans-serif: Arial, Helvetica, sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-font-monospace: Arial, Helvetica, sans-serif;
}

.first-nations-unicode {
    font-family: "First Nations Unicode" !important;
}
.first-nations-unicode .text-muted {
    font-family: var(--bs-body-font-family);
}